<h1>Expert Pending Applications</h1>
<p>This is a list of expert that applied to be listed</p>
<div>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Date Applied</th>
            <th>First name</th>
            <th>Talent Type</th>
            <th>Certification</th>
        </tr>
    </thead>
    <tbody>
     <% @expert_list.each do |expert| %>
        <tr>
            <%= link_to  expert_path(expert) do %>
            <th scope="row"><%= expert.id %></th>
            <td><%= expert.created_at %></td>
            <td><%= expert.firstName %></td>
            <td><%= expert.talent_type.expert_specialization %></td>
            <td><%= expert.id %></td>
            <td><%= link_to  "Show",   expert_path(expert) %></td>
        </tr>
        <% end %>
        <% end %>
    </tbody>
</table>
</div>
<%= link_to  "back", :back %>
