<%= render partial: 'dashboard/shared/customer_request_header' %>
<% if((@customers.includes(requests: :talent_requests).where.not(:talent_requests => {id: nil}).count) >= 1) %>
<div class="card">
    <div class="card-body">
        <h4 class="card-title">All customer requests</h4>
        <p class="page-description">This is the list of <code>customers and their request</code></p>
        <div class="row">
            <div class="table-sorter-wrapper col-lg-12 table-responsive">
                <table id="sortable-table-1" class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th class="sortStyle">Name</th>
                            <th class="sortStyle">Email</th>
                            <th class="sortStyle">Active Request</th>
                            <th class="sortStyle"></th>
                        </tr>
                    </thead>
                    <% @customers.each do |customer |%>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>customer <%= customer.id %></td>
                            <td><%= customer.email %></td>
                            <td><%= customer.requests.includes(:talent_requests).where.not(:talent_requests => {id: nil}).count %></td>
                            <td><%= link_to  "View", customer_requests_path(customer), class:"btn btn-outline-primary" %></td>
                        </tr>
                    </tbody>
                    <% end %>
                </table>
            </div>
        </div>
    </div>
</div>
<% else %>
<div class="col-lg-7 mx-auto text-white">
    <div class="row mt-5">
        <div class="col-12 text-center mt-xl-2  text-danger">
            <%= image_tag("admin/empty.gif", :size => "260x180", :crop => :fill) %>
            <p>you have no customer request at the moment.</p>
        </div>
    </div>
</div>
<% end %>