<%= render partial: 'dashboard/shared/customer_request_header' %>
<div class="card">
    <div class="card-body">
        <h4 class="card-title"><%= @user.email%> requests</h4>
        <div class="row">
            <div class="table-sorter-wrapper col-lg-12 table-responsive">
                <table id="sortable-table-1" class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th class="sortStyle">Request on</th>
                            <th class="sortStyle">No of Talent Requested</th>
                            <th class="sortStyle"></th>
                        </tr>
                    </thead>
                    <% @requests .each do |request|%>
                    <tbody>
                        <tr>
                            <td><%= request.id %></td>
                            <td><%= request.created_at %></td>
                            <td><%= request.talent_requests.count %></td>
                            <td> <%= link_to  "View", talent_requests_path(request),class:"btn btn-outline-primary" %></td>
                        </tr>
                    </tbody>
                    <% end %>
                </table>
            </div>
        </div>
    </div>
</div>