<h1>Expert</h1>
<p>This is a list of experts </p>
<div>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Date Applied</th>
            <th>First name</th>
            <th>Talent Type</th>
            <th>Certification</th>
        </tr>
    </thead>
    <tbody>
    <% @expert_application_list.each do |expert_application| %>
        <tr>
            <th scope="row"><%= expert_application.id %></th>
            <td><%= expert_application.created_at %></td>
            <td><%= expert_application.firstName %></td>
            <td><%= expert_application.talent_type.expert_specialization %></td>
            <td><%= expert_application.id %></td>
        </tr>
        <% end %>
    </tbody>
</table>
</div>
<%= link_to  "back", :back %>