<p> this is a contact form</p>

<%= form_with model: @message do |f| %>
<%= f.label :name, "Name" %>
<%= f.text_field :name %>
<br>
<%= f.label :email, "Email" %>
<%= f.email_field :email %>
<br>
<%= f.label :phone_number, "Phone Number" %>
<%= f.text_field :phone_number %>
<br>
<%= f.label :body, "Body" %>
<%= f.text_area :body %>
<br>
<%= f.label :location, "Location" %>
<%= f.text_field :location %>
<br>
<%= f.label :company_about, "A Brief about Company." %>
<%= f.text_area :company_about %>
<br>

<%= f.submit %>
<% end %>
