<h2> THIS IS THE DETAIL OF YOUR FINALIZED REQUEST</h2>
<div>
<table class="table">
    <thead>
        <tr>
            <th>Final Requet Id</th>
            <th><%= @finalized_request.id%></th>
        </tr>
    </thead>
    <thead>
        <tr>
            <th>Talent Assigned Date  </th>
            <th> <%= time_ago_in_words(@talent_assignment.updated_at)%></th>
        </tr>
    </thead>
    <thead>
    <thead>
        <tr>
            <th>Talent Assigned</th>
            <th><%= @talent_assignment.expert.talent_type.expert_specialization%></th>
        </tr>
    </thead>
    <thead>
        <tr>
        <th>Engage Date</th>
            <th><%= @talent_assignment.engaged_date%></th>
        </tr>
    </thead>
    <thead>
        <tr>
            <th>Contract Start Date</th>
            <th><%= @talent_assignment.start_date%></th>
        </tr>
    </thead>
    <thead>
        <tr>
            <th>Contract End Date</th>
            <th><%= @talent_assignment.end_date%></th>
        </tr>
    </thead>
    <thead>
        <tr>
        <% pseudo_amount = (rand(777) * 100000)%>
            <th>Payment Amount:NGN<%= number_with_delimiter((pseudo_amount / 100)) %></th>
            <th></th>
        </tr>
    </thead>
</table>
</div>
<script src="https://js.paystack.co/v1/inline.js"></script>

<%= form_with(model: @transaction,local: true, url: @transactions) do |f| %>
<%= f.hidden_field :user_id, value: @finalized_request.user.id %>
<%= f.hidden_field :finalized_request_id, value: @finalized_request.id %>
<%= f.hidden_field :amount, value: (pseudo_amount / 100) %>
<%= f.submit 'Make Payment',type: 'button', :class => 'btn btn-large button slider-button', style: 'font-size: 14px;', :id => 'create_an_order', onclick: "payWithPaystack('#{@finalized_request.request.email}'); return false;" %></form>
<% end %>
<br>
<%= link_to  "back", :back %>
<span id="delivery_total_hidden" hidden><%= pseudo_amount%></span>
<script>
function payWithPaystack(email){
    amount = $("#delivery_total_hidden").text();
    $("#create_an_order").attr("disabled", false);
    var handler = PaystackPop.setup({   
    key: "<%= ENV['PAYSTACK_PUBLIC_KEY']-%>",
    email: email,
    amount: parseInt(amount) ,
    metadata: {
    custom_fields: [
    {
        display_name: "Mobile Number",
        variable_name: "mobile_number",
        value: "+2348063202378"
    }
    ]
    },
    callback: function(response){
    url = $( 'form#new_order' ).attr( 'action' );
    action = url + "?transactref=" + response.reference
    $('form#new_order').attr('action', action).submit();
    },
    onClose: function(){
    $("#create_an_order").attr("disabled", false);

    }
});
    handler.openIframe();
}
</script>

