<h2> THIS IS THE DETAIL OF YOUR FINALIZED REQUEST</h2>
<div>
<table class="table">
    <thead>
        <tr>
            <th>Final Requet Id</th>
            <th><%= @finalized_request.id%></th>
        </tr>
    </thead>
    <thead>
        <tr>
            <th>Talent Assigned Date  </th>
            <th> <%= time_ago_in_words(@talent_assignment.updated_at)%></th>
        </tr>
    </thead>
    <thead>
    <thead>
        <tr>
            <th>Talent Assigned</th>
            <th><%= @talent_assignment.expert.talent_type.expert_specialization%></th>
        </tr>
    </thead>
    <thead>
        <tr>
        <th>Engage Date</th>
            <th><%= @talent_assignment.engaged_date%></th>
        </tr>
    </thead>
    <thead>
        <tr>
            <th>Contract Start Date</th>
            <th><%= @talent_assignment.start_date%></th>
        </tr>
    </thead>
    <thead>
        <tr>
            <th>Contract End Date</th>
            <th><%= @talent_assignment.end_date%></th>
        </tr>
    </thead>
    <thead>
        <tr>
            <th>Payment Amount:<%= humanized_money_with_symbol(@talent_assignment.amount) %></th>
            <th></th>
        </tr>
    </thead>
</table>
</div>

<form action="#">
<script src="https://js.paystack.co/v1/inline.js"></script>
<button type="button" name="pay_now" id="pay-now" title="Pay now"  onclick="payWithPaystack()">Pay now</button>
</form>

<br>
<%= link_to  "back", :back %>

<script>
var transactionObj = {
    email_prepared_for_paystack: '<%= @finalized_request.request.email%>',
    amount: <%= (@talent_assignment.amount * 100) %>,
    user_id: <%= @finalized_request.request.user_id%>,
    finalized_request_id: <%= @finalized_request.id%>,
    talent_request: '<%= @finalized_request.talent_assignment.expert.talent_type.expert_specialization %>'
    // other params you want to save
};
function saveOrderThenPayWithPaystack(){
    // Send the data to save using post
    console.log('d')
    var posting = $.post( '/transactions', transactionObj );

    posting.done(function( data ) {
    /* check result from the attempt */
    payWithPaystack(data);
    });
    posting.fail(function( data ) { /* and if it failed... */ });
}
function payWithPaystack(data){
    var handler = PaystackPop.setup({
    key: "<%= ENV['PAYSTACK_PUBLIC_KEY']-%>",
    email: transactionObj.email_prepared_for_paystack,
    amount: transactionObj.amount,
    metadata: {
        finalized_request_id: transactionObj.finalized_request_id,
        custom_fields: [
        {
            display_name: "Paid on",
            variable_name: "paid_on",
            value: 'Website'
        },
        {
            display_name: "Paid via",
            variable_name: "paid_via",
            value: 'Inline Popup'
        },
        {
            display_name: "Talent Request",
            variable_name: "talent_request",
            value: transactionObj.talent_request
        }
        ]
    },
    callback: function(response){
        console.log('d')
        var verifying = $.get( '/verify/' + response.reference);
        verifying.done(function( data ) {
            $.ajax({
                url: "/transactions",
                type: "POST",
                data: {transaction: {
                user_id: transactionObj.user_id,
                finalized_request_id: transactionObj.finalized_request_id,
                amount: transactionObj.amount}},
                success: function(resp){ }
            });
        });
    },
    onClose: function(){
        alert('Click "Pay now" to retry payment.');
    }
    });
    handler.openIframe();
}
</script>

