<ul class="nav navbar-nav">
<li><%= link_to 'Accept  application' %></li>
    <li><%= link_to 'Add New Service'%></li>
    <li><%= link_to 'Finalized Customer request' %></li>
    <li><%= link_to 'Add Blog Post' %></li>
    <li><%= link_to 'Assign Talent' %></li>        
</ul>
<h1>Admin Dashboard</h1>
<p>welcome</p>
<%= link_to 'Pending Applications', admin_application_path  %>
<br>
<%= link_to 'Onboard experts', admin_talents_path %>
<br>
<%= link_to  "Requested talent", admin_customers_requests_path %>