<ul class="nav navbar-nav">
<li><%= link_to 'Accept  application', admin_talents_path %></li>
    <li><%= link_to 'Add New Expert Service '%></li>
    <li><%= link_to 'Add Blog Post',new_post_path %></li>
    <li><%= link_to 'Assign Talent', admin_customers_requests_path %></li>     
    <li><%= link_to 'Manage Forms', dynabute_form_fields_path %></li>         
</ul>
<h1>Admin Dashboard</h1>
<p>welcome</p>
<br>
<%= link_to 'Onboard experts', admin_talents_path %>
<br>
