<% if @post.errors.any? %>
<h2>The following errors prevented the post from saving:</h2>
<ul>
<% @post.errors.full_messages.each do |msg|%>
<li><%= msg %></li>
<% end %>
</ul>
<% end %>


# Main
<td style="padding: 50px;" class="__web-inspector-hide-shortcut__">
<table style="width: 550px;margin: 0 auto" cellpadding="0" cellspacing="0" border="0">
    <tbody>
        #  Header                         
    <tr>
        <td style="padding-top: 20px;">
        <img style="float:left;width:170px;" src="../../../assets/images/logo.png" alt="Logo">
        <p style="font-family: Roboto;font-size: 13px;font-weight: 500;font-style:
    normal;font-stretch: normal;line-height: normal;letter-spacing: normal;color:
    #bbb;float:right;margin-top: 10px;">The best selling premium email template</p>
        </td>
    </tr>

    # End of Header

    # Body
    <tr>
        <td style="border-radius: 10px;background: #fff;padding: 30px 60px 20px 60px;margin-top: 10px;display: block;">
        <p style="font-family: Roboto;font-size: 14px;font-weight: 500;font-style:
    normal;font-stretch: normal;line-height: 1.71;letter-spacing: normal;color: #001737;margin-bottom: 10px;"> Hi Cole Mendoza,</p>
        <p style="font-family: Roboto;font-size: 14px;font-weight: normal;font-style: normal;font-stretch: normal;line-height: 1.71;letter-spacing: normal;color: #001737;"> Your account is now verified and you can purchase tokens for the staradmin. Also you can submit your documents for the KYC from my Account page.</p>
        <p style="font-family: Roboto;font-size: 14px;font-weight: normal;font-style: normal;font-stretch: normal;line-height: 1.71;letter-spacing: normal;color: #001737;"> Hope you'll enjoy the experience, we're here if you have any questions, drop us a line at info@yourwebsite.com anytime.</p>
        <p style="font-family: Roboto;font-size: 14px;font-weight: normal;font-style:
    normal;font-stretch: normal;line-height: 1.71;letter-spacing: normal;color: #001737;margin-bottom: 0px;"> Good luck! Hope it works.</p>
        <p style="font-family: Roboto;font-size: 14px;font-weight: 500;font-style: normal;font-stretch: normal;line-height: 2.5;letter-spacing: normal;color: #001737;margin-bottom: 0px;"> Staradmin team</p>
        </td>
    </tr>

        #End Body
    </tbody>
</table>

    #Start of footer 
<table style="width:245px;margin: 20px auto 0 auto;" cellpadding="0" cellspacing="0" border="0">
    <tbody><tr>
    <td>
        <table style="float:left;margin-right:15px;" cellpadding="0" cellspacing="0" border="0">
        <tbody><tr>
            <td style="background: #e6e6e6;color:#2b80ff;border-radius: 100%;height: 35px;width: 35px; margin-right:20px;">
            <img style="display: block;margin: auto;max-width: 8px;" src="../../../assets/images/email/fb.png" alt="facebook">
            </td>
        </tr>
        </tbody></table>
        <table style="float:left;margin-right:15px;" cellpadding="0" cellspacing="0" border="0">
        <tbody><tr>
            <td style="background: #e6e6e6;color:#2b80ff;border-radius: 100%;height: 35px;width: 35px; margin-right:20px;">
            <img style="display: block;margin: auto;max-width: 15px;" src="../../../assets/images/email/twitter.png" alt="facebook">
            </td>
        </tr>
        </tbody></table>


      
        <table style="float:left;margin-right:15px;" cellpadding="0" cellspacing="0" border="0">
        <tbody><tr>
            <td style="background: #e6e6e6;color:#2b80ff;border-radius: 100%;height: 35px;width: 35px; margin-right:20px;">
            <img style="display: block;margin: auto;max-width: 15px;" src="../../../assets/images/email/youtube.png" alt="facebook">
            </td>
        </tr>
        </tbody></table>
        <table style="float:left;margin-right:15px;" cellpadding="0" cellspacing="0" border="0">
        <tbody><tr>
            <td style="background: #e6e6e6;color:#2b80ff;border-radius: 100%;height: 35px;width: 35px; margin-right:20px;">
            <img style="display: block;margin: auto;max-width: 15px;" src="../../../assets/images/email/medium.png" alt="facebook">
            </td>
        </tr>
        </tbody></table>
        <table style="float:left;" cellpadding="0" cellspacing="0" border="0">
        <tbody><tr>
            <td style="background: #e6e6e6;color:#2b80ff;border-radius: 100%;height: 35px;width: 35px; margin-right:20px;">
            <img style="display: block;margin: auto;max-width: 15px;" src="../../../assets/images/email/slack.png" alt="facebook">
            </td>
        </tr>
        </tbody></table>
    </td>
    </tr>
</tbody></table>
<table style="margin: 20px auto 10px auto;" cellpadding="0" cellspacing="0" border="0">
    <tbody><tr>
    <td style="font-family: Roboto;font-size: 14px;font-weight: normal;font-style: normal;font-stretch: normal;line-height: normal;letter-spacing: normal;color: #001737;"> Copyright © 2019 Bootstrapdash. All rights reserved.</td>
    </tr>
    <tr>
    <td style="font-family: Roboto;font-size: 14px;font-weight: normal;font-style:
    normal;font-stretch: normal;line-height: normal;letter-spacing: normal;color:
    #bbb;text-align: center; padding-top: 15px;"> Don't like these emails? <a style="color:inherit;" href="email-template.html#">Unsubscribe</a>
    </td>
    </tr>
</tbody></table>

    #End of footer
</td>
#End of Main


<td style="border-radius: 10px;background: #fff;padding: 30px 60px 20px 60px;margin-top: 10px;display: block;">
    <p style="font-family: Roboto;font-size: 14px;font-weight: 500;font-style:
    normal;font-stretch: normal;line-height: 1.71;letter-spacing: normal;color: #001737;margin-bottom: 10px;"> Hi <% if  @user.customer_role?%>
                                                                        Dear <%= @user.email%>,
                                                                        <% else %>
                                                                        Hello, there
                                                                        <% end %>
    </p>
    <p style="font-family: Roboto;font-size: 14px;font-weight: normal;font-style: normal;font-stretch: normal;line-height: 1.71;letter-spacing: normal;color: #001737;"> Your application for <%=@expert.talent_type.expert_specialization %> has been recieved.
    </p>
    <p style="font-family: Roboto;font-size: 14px;font-weight: normal;font-style: normal;font-stretch: normal;line-height: 1.71;letter-spacing: normal;color: #001737;">We will get back to you as soon as possible.
    </p>
    <p style="font-family: Roboto;font-size: 14px;font-weight: 500;font-style: normal;font-stretch: normal;line-height: 2.5;letter-spacing: normal;color: #001737;margin-bottom: 0px;"> AgroHive team</p>
</td>



<tr>
    <td style="border-radius: 10px;background: #fff;padding: 30px 60px 20px 60px;margin-top: 10px;display: block;">
        <p style="font-family: Roboto;font-size: 18px;font-weight: 500;font-style: normal;font-stretch: normal;line-height: 1.11;letter-spacing: normal;color: #2b80ff;">A new application for <%= @expert.talent_type.expert_specialization%>!</p>
            <%= link_to "Take action", expert_url(@expert.id), style:" height: 34px;background: linear-gradient(to right, #f9a02cbd, #f9a02c);border: none;color: #fff;padding:
            8px 20px;border-radius: 4px;display: inline-block;margin-left: 10px;margin-bottom:
            20px;" %>
        </td>
</tr>