<p>
<b>Title:</b>
<%= @post.title %>

</p>

<p>
<b>Body:</b>
<%=raw(@post.content) %>
</p>

<h2>Comments</h2>

<% @post.comments.each do |c| %>
<p>
    <b><%=h c.name %> said:</b><br />
    <%= time_ago_in_words(c.created_at) %> ago
</p>

<p>
    <%= c.body %>
</p>    
<% end %>
