<!DOCTYPE html>
<html>
<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
    <p>You got a new request from <%= @request.email %>!</p>
    <p>
    Talent details<br>
    --------------------------
    </p>
    <p>Talent Demanded: <%= @talent_request.talent_type.expert_specialization %> </p>
    <p>Unit Price: <%= @talent_request.unit_price %> </p>
    <p>Quantity Demanded:<%= @talent_request.quantity %> </p>
    <p>Expecteed Duration of Contract:<%= @talent_request.expected_contract_duration %> </p>
    <p>Expecteed Start Date:<%= @talent_request.expected_start_date %></p>
    <p>Date ordered: <%= @talent_request.created_at %></p>
    --------------------------
    <p>
     <strong>Client Phone Number: <%= @request.phone_number %>
     </strong>
</body>
</html>