<%= form_with(model: @comment, local: true,url: @comments) do |f| %>
<p>
    <%= f.label :name, "Email" %><br />
    <%= f.email_field :email %>
    <%= f.label :name, "Author" %><br />
    <%= f.text_field :name %><br />
    <%= f.label :body, "Comment Description" %><br />
    <%= f.text_area :body %>
    f,<%= f.hidden_field :post_id, value: post.id %>
</p>

<p>
    <%= f.submit "Add Comment" %>
</p>
<% end %>