<% if @request.errors.any? %>
    <div id="error_explanation">
    <h2><%= pluralize(@request.errors.count, "error") %> prohibited this post from being saved:</h2>

    <ul>
    <% @request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
    <% end %>
    </ul>
    </div>
<% end %>
<%= form_with(model: @request, local: true ,url: {action: "create"}) do |r| %>
<%= r.hidden_field :user_id, value: current_or_guest_user.id %>
<%= r.hidden_field :email, value: current_or_guest_user.email %>
<%= r.label :phoneNumber, "Phone Number" %>
<%= r.text_field :phoneNumber %>
<br>
<table>
    <%= r.fields_for :talent_request do |f| %>

    <%= f.label :talent_type_id, "what type of services are you looking for" %>
    <%= f.select(:talent_type_id, @expert_specialization_list.collect{|e| [e.expert_specialization, + e.id]}, {:include_blank => 'Please select a category'} ) %>
    <br>
    <br>
    <%= f.label :unit_price, "Shows the unit price" %>
    <%= f.number_field :unit_price %>
    <br>
    <br>
    <%= f.label :expected_contract_duration, "What the duration you want for the contract" %>
    <%= f.date_field :expected_contract_duration %>
    <br>
    <br>
    <%= f.label :expected_start_date, "Expected Start Date" %>
    <%= f.date_field :expected_start_date %>
    <br>
    <br>
    <%= f.label :quantity, "quantity" %>
    <%= f.number_field :quantity %>
    <%= f.hidden_field :user_id, value: current_or_guest_user.id  %>
    <br>
    <br>
    
<% end %>
    <%= r.submit "Submit", disable_with: 'Submiting...' %>

</table>
<% end %> 