
<%= form_with(model: @requests, local: true ,url: {action: "create"}) do |request| %>
        <%= request.hidden_field :user_id, value: current_or_guest_user.id %>
        <%= request.label :email, "Enter Email" %>
        <%= request.email_field :email %>
        <br>
        <%= request.label :phoneNumber, "Phone Number" %>
        <%= request.text_field :phoneNumber %>
        <br>
        <br> 
    <table>
        <%= request.fields_for :talent_request do |talent_request| %>
            <%= talent_request.label :talent_type_id, "what type of services are you looking for" %>
            <%= talent_request.select(:talent_type_id, @expert_specializations.collect{|expert| [expert.expert_specialization, + expert.id]}, {:include_blank => 'Please select a category'} ) %>
                <br>
                <br>
            <%= talent_request.label :unit_price, "Shows the unit price" %>
            <%= talent_request.number_field :unit_price %>
                <br>
                <br>
            <%= talent_request.label :expected_contract_duration, "What the duration you want for the contract" %>
            <%= talent_request.date_field :expected_contract_duration %>
                <br>
                <br>
            <%= talent_request.label :expected_start_date, "Expected Start Date" %>
            <%= talent_request.date_field :expected_start_date %>
                <br>
                <br>
            <%= talent_request.label :quantity, "quantity" %>
            <%= talent_request.number_field :quantity %>
            <%= talent_request.hidden_field :user_id, value: current_or_guest_user.id  %>
                <br>
                <br>
                
        <% end %>
        <%= request.submit "Submit", disable_with: 'Submiting...' %>

    </table>
<% end %> 