<!DOCTYPE html>
<html>

<head>
    <title>Agrohive</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth">
                <div class="row flex-grow">
                    <div class="col-lg-4 mx-auto">
                        <div class="auth-form-light text-left p-5">
                            <div class="brand-logo">
                               <%= link_to root_path do%> <%= image_tag 'admin/logo.png' %> <% end %>
                            </div>
                            <% flash.each do |name, msg| %>
                                <%= content_tag :div, msg %>
                            <% end %>   
                            
                            <%= yield %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>