<%= form_for(@expert) do |f| %>
    <% if @expert.errors.any? %>
        <div id="error_explanation">
        <h2><%= pluralize(@expert.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul>
        <% @expert.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
        </ul>
        </div>
    <% end %>
    <table>
        <%= f.label :TalentType, "Select Specialization" %>
        <%= f.select(:talent_type_id, @expert_specialization_list.collect{|e| [e.expert_specialization, + e.id]}, {:include_blank => 'Please select a category'} ) %>
        <br>
        <%= f.label :suggested_skill, "Input exprtise, if your skills is not listed here" %>
        <%= f.text_field :suggested_skill %>
        <br>
        <%= f.label :first_name, "First Name" %>
        <%= f.text_field :first_name %>
        <br>
        <%= f.label :last_name, "Last Name" %>
        <%= f.text_field :last_name %>
        <br>
        <%= f.label :email, "Email Address" %>E
        <%= f.email_field :email %>
        <br>
        <%= f.label :phone_number, "Phone Number" %>
        <%= f.number_field :phone_number %>
        <br>
        <%= f.label :contact_address, "Contact Address" %>
        <%= f.text_field :contact_address %>
        <br>
        <%= f.label :short_bio, "Short Biography" %>
        <%= f.text_area :short_bio %>
        <br>
        <%= f.label :phone_number, "Certification" %>
        <%= f.text_field :certification %>
        <br>
        <%= f.hidden_field :status %>
        <%= f.submit "Submit", disable_with: 'Submiting...' %>
     <% end %>
    </table>
</div>