<%= @expert.first_name%>

<table id="table" border="1">
        <tr>
            <td>Name</td>
            <td>Email</td>
            <td>Phone</td>
            <td>Contact Address</td>
            <td>Short Bio</td>
            <td>Certification</td>
            <td>Date submiited</td>
            <td>Talent Type</td>




        </tr>

        <tbody id="after_add">
            <td><%=@expert.first_name %> <%=@expert.last_name %></td>
            <td><%=@expert.email %></td>
            <td><%=@expert.phone_number %></td>
            <td><%=@expert.contact_address %></td>
            <td><%=@expert.short_bio %></td>
            <td><%=@expert.certification %></td>
            <td><%=@expert.created_at %></td>
            <td><%=@expert.talent_type.expert_specialization %></td>
        </tbody>
</table>
<%= link_to  "back", :back %>
<br>
<%= link_to "Accept Application", onboard_path(@expert) , data:{ confirm: "confirm"} %>
<br>
<%= link_to  "Reject Application", reject_path(@expert) , data:{ confirm: "confirm"}  %>